{:paths ["src/main" "resources"]
 :deps  {org.clojure/clojure    {:mvn/version "1.10.3"}
         com.fulcrologic/fulcro {:mvn/version "3.5.6"}
         com.taoensso/timbre    {:mvn/version "5.0.0"}
         http-kit/http-kit      {:mvn/version "2.5.0"}
         mount/mount            {:mvn/version "0.1.16"}
         aero/aero              {:mvn/version "1.1.6"}
         com.wsscode/pathom {:mvn/version "2.4.0"}
         clj-http/clj-http {:mvn/version "3.12.3"}
         metosin/jsonista {:mvn/version "0.3.4"}

         ring/ring-core     {:mvn/version "1.8.1"}
         ring/ring-defaults {:mvn/version "0.3.2"}
         compojure/compojure {:mvn/version "1.6.2"}
         datascript/datascript {:mvn/version "1.2.8"}}

 :aliases {:dev {:extra-paths ["src/dev"]
                 :extra-deps  {org.clojure/clojurescript   {:mvn/version "1.10.879"}
                               thheller/shadow-cljs        {:mvn/version "2.15.12"}
                               binaryage/devtools          {:mvn/version "1.0.4"}
                               org.clojure/tools.namespace {:mvn/version "1.0.0"}}}}}
