{:deps     {:aliases [:dev]}
 :dev-http {8000 "classpath:public"}
 :builds   {:main {:target     :browser
                   :output-dir "resources/public/js/main"
                   :asset-path "/js/main"
                   :modules    {:main {:init-fn justenough.software.client/init
                                       :entries [justenough.software.client]}}
                   :devtools   {:after-load justenough.software.client/refresh
                                :preloads   [com.fulcrologic.fulcro.inspect.preload]}}}}
